In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
match=pd.read_csv('/content/sample_data/matches.csv')
delivery=pd.read_csv('/content/sample_data/deliveries.csv')

In [ ]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [ ]:
delivery.shape, match.shape

((179078, 21), (756, 18))

In [ ]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
match.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [ ]:
match.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [ ]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [ ]:
delivery=delivery.rename(columns={'match_id': 'id'})

In [ ]:
delivery.isnull().sum()

id                       0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [ ]:
match.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [ ]:
match=match.drop('umpire1', axis=1)
match=match.drop('umpire2', axis=1)
match=match.drop('umpire3', axis=1)

In [ ]:
match.isnull().sum()

id                 0
season             0
city               7
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             4
win_by_runs        0
win_by_wickets     0
player_of_match    4
venue              0
dtype: int64

In [ ]:
df=match.merge(delivery, on='id')

In [ ]:
df.shape

(179078, 35)

In [ ]:
df.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'is_super_over', 'wide_runs', 'bye_runs', 'legbye_runs', 'noball_runs',
       'penalty_runs', 'batsman_runs', 'extra_runs', 'total_runs',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
df=df.drop(['id', 'date', 'non_striker', 'bowler', 'fielder', 'player_dismissed', 'dismissal_kind'], axis=1)

In [ ]:
df.columns

Index(['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets',
       'player_of_match', 'venue', 'inning', 'batting_team', 'bowling_team',
       'over', 'ball', 'batsman', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs'],
      dtype='object')

In [ ]:
df.head()

,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,...,batsman,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,...,DA Warner,0,0,0,0,0,0,0,0,0
1,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,...,DA Warner,0,0,0,0,0,0,0,0,0
2,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,...,DA Warner,0,0,0,0,0,0,4,0,4
3,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,...,DA Warner,0,0,0,0,0,0,0,0,0
4,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,...,DA Warner,0,2,0,0,0,0,0,2,2

In [ ]:
df.batting_team.unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [ ]:
df.batting_team=df.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
df.bowling_team=df.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')

In [ ]:
df.batting_team=df.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
df.bowling_team=df.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [ ]:
df.drop(df[df.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)
df.drop(df[df.batting_team=='Pune Warriors'].index,inplace=True)
df.drop(df[df.batting_team=='Rising Pune Supergiants'].index,inplace=True)
df.drop(df[df.batting_team== 'Gujarat Lions'].index,inplace=True)
df.drop(df[df.batting_team=='Rising Pune Supergiant'].index,inplace=True)

df.drop(df[df.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
df.drop(df[df.bowling_team=='Pune Warriors'].index,inplace=True)
df.drop(df[df.bowling_team=='Rising Pune Supergiants'].index,inplace=True)
df.drop(df[df.bowling_team=='Gujarat Lions'].index,inplace=True)
df.drop(df[df.bowling_team=='Rising Pune Supergiant'].index,inplace=True)

In [ ]:
df.batting_team.unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Delhi Capitals', 'Kolkata Knight Riders', 'Mumbai Indians',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals'],
      dtype=object)

In [ ]:
df.bowling_team.unique()

array(['Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Delhi Capitals', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals'],
      dtype=object)

In [ ]:
venues_df=df.venue.unique()
venues_df, len(venues_df)

(array(['Rajiv Gandhi International Stadium, Uppal',
        'M Chinnaswamy Stadium', 'Wankhede Stadium',
        'Holkar Cricket Stadium', 'Eden Gardens', 'Feroz Shah Kotla',
        'Punjab Cricket Association IS Bindra Stadium, Mohali',
        'Punjab Cricket Association Stadium, Mohali',
        'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
        'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
        'Kingsmead', 'SuperSport Park', 'Buffalo Park',
        'New Wanderers Stadium', 'De Beers Diamond Oval',
        'OUTsurance Oval', 'Brabourne Stadium',
        'Sardar Patel Stadium, Motera', 'Barabati Stadium',
        'Vidarbha Cricket Association Stadium, Jamtha',
        'Himachal Pradesh Cricket Association Stadium',
        'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
        'Subrata Roy Sahara Stadium',
        'Shaheed Veer Narayan Singh International Stadium',
        'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
        'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
        'Maharashtra Cricket Association Stadium',
        'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
        'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
        'IS Bindra Stadium', 'ACA-VDCA Stadium'], dtype=object),
 38)

In [ ]:
df.venue=df.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
df.venue=df.venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium, Mohali')
df.venue=df.venue.str.replace('Maharashtra Cricket Association Stadium','Subrata Roy Sahara Stadium')

<ipython-input-119-6cf00f00d181>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.venue=df.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')

In [ ]:
df.shape

(152059, 28)

In [ ]:
df.columns

Index(['season', 'city', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets',
       'player_of_match', 'venue', 'inning', 'batting_team', 'bowling_team',
       'over', 'ball', 'batsman', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs'],
      dtype='object')

In [ ]:
df.isnull().sum()

season                0
city               1700
team1                 0
team2                 0
toss_winner           0
toss_decision         0
result                0
dl_applied            0
winner              309
win_by_runs           0
win_by_wickets        0
player_of_match     309
venue                 0
inning                0
batting_team          0
bowling_team          0
over                  0
ball                  0
batsman               0
is_super_over         0
wide_runs             0
bye_runs              0
legbye_runs           0
noball_runs           0
penalty_runs          0
batsman_runs          0
extra_runs            0
total_runs            0
dtype: int64

In [ ]:
df.city.fillna('Location unavailable',inplace=True)
df.winner.fillna('information unavailable',inplace=True)
df.player_of_match.fillna('information unavailable',inplace=True)

In [ ]:
df.isnull().sum()

season             0
city               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
inning             0
batting_team       0
bowling_team       0
over               0
ball               0
batsman            0
is_super_over      0
wide_runs          0
bye_runs           0
legbye_runs        0
noball_runs        0
penalty_runs       0
batsman_runs       0
extra_runs         0
total_runs         0
dtype: int64

In [ ]:
#Visulaize toss decision
plt.figure(figsize=(6,6))
plt.title('Visualization of Toss Decision')
sns.countplot(x=match['toss_decision'])
plt.show()

In [ ]:
import plotly.express as px

In [ ]:
fig = px.pie(match, values=match['toss_winner'].value_counts(), names=match['toss_winner'].unique(), title='Team Who Won The Toss')
fig.show()

In [ ]:
d=match.groupby(['venue'])['venue'].count()
plt.title('Visualization of Venue')
d.plot(kind='bar',figsize=(10,8))

In [ ]:
city = match.city.value_counts()
city

In [ ]:
sns.countplot(x=match['city'], order = match['city'].value_counts().iloc[:10].index.sort_values(),)

In [ ]:
toss_winner = match.toss_winner.value_counts()
toss_winner

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Royal Challengers Bangalore    81
Kings XI Punjab                81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: toss_winner, dtype: int64

In [ ]:
matches_played = match['team1'].value_counts()
matches_played

In [ ]:
matches_played = match['team2'].value_counts()
matches_played

In [ ]:
winning_team = df['winner'].value_counts()
winning_team

In [ ]:
Match_Winner = pd.DataFrame(winning_team).reset_index().rename(columns={'index':'Teams'})
Match_Winner

In [ ]:
player=df.player_of_match.value_counts()
player

CH Gayle          3745
AB de Villiers    3681
RG Sharma         3671
DA Warner         3583
MS Dhoni          3390
                  ...
BA Bhatt           204
DJG Sammy          203
M Vohra            200
RP Singh           199
DL Vettori         108
Name: player_of_match, Length: 206, dtype: int64

In [ ]:
batsman=df.batsman.value_counts()
batsman

V Kohli          3677
RG Sharma        3487
S Dhawan         3464
SK Raina         3249
G Gambhir        3187
                 ...
S Lamichhane        1
K Ahmed             1
DP Vijaykumar       1
P Raj               1
Sunny Gupta         1
Name: batsman, Length: 490, dtype: int64

In [ ]:
penalty=df.penalty_runs.value_counts()
penalty

0    152057
5         2
Name: penalty_runs, dtype: int64